* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
  overflow-x: hidden;
  width: 100vw;
  max-width: 100%;
}
body {
  color: #3a3a3a;
  font-family: Raleway, sans-serif;
  overflow-x: hidden;
  width: 100vw;
  max-width: 100%;
}
/* header section */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  height: 10vh;
  background-color: #5bc0eb;
  width: 100vw;
  max-width: 100%;
  padding: 0 6px;
  font-size: 1.5rem;
}
.wov-logo {
  height: 100%;
  object-fit: cover;
  padding: 2px;
}
#navbar i {
  display: none;
}
#navbar {
  display: flex;
  height: 100%;
  align-items: center;
}
#navbar ul {
  display: flex;
  padding: 6px;
  gap: 14px;
}
#navbar li {
  list-style: none;
}
#navbar a {
  text-decoration: none;
  color: #3a3a3a;
  padding: 4px;
}
#navbar a .nav-word {
  font-size: 2rem;
}
#navbar a:hover .nav-word {
  background-color: #f4f4f9;
  border-radius: 10%;
  padding: 4px;
}
/* main */
main {
  width: 100vw;
}
section {
  padding: 10vh 0;
  height: 100vh;
  background: linear-gradient(45deg, #e0e0e0 0%, #f4f4f9 30%, #e0e0e0 65%);
}
/* section 1 */
.title-highlight {
  color: #5bc0eb;
}
.hero {
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  gap: 32px;
}

.hero-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 14px;
}
h1,
h2 {
  font-weight: normal;
  text-align: center;
  font-size: 2rem;
}
.hero-btn,
.btn {
  display: flex;
  justify-content: space-around;
  border: 2px solid #3a3a3a;
  padding: 4px;
  gap: 6px;
  min-width: 20%;
  margin: 0px auto;
  text-decoration: none;
  color: #3a3a3a;
  font-size: 1.5rem;
}

.btn {
  min-width: 10%;
}

/* section 2 */
#project-title {
  padding: 2px;
}
.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  gap: 10px;
}
.card-container {
  display: flex;
  gap: 24px;
  width: 80%;
  padding: 6px;
  flex-wrap: wrap;
  margin: auto;
  justify-content: center;
}
.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 2px solid #3a3a3a;
  border-radius: 5%;
  width: 30%;
  max-height: 30vh;
  padding: 6px;
  gap: 4px;
  text-decoration: none;
  color: #3a3a3a;
}
.card-caption {
  height: 20%;
  text-align: center;
  font-size: 1.5rem;
}
.card-content {
  height: 80%;
}
.card-content img {
  height: auto;
  width: auto;
  max-height: 100%;
  max-width: 100%;
  display: block;
  margin: auto;
  border-radius: 5%;
}
.card:hover {
  border-color: #5bc0eb;
}
.hero-btn:hover,
.btn:hover {
  border-color: #5bc0eb;
}

/* section 2  */
#profiles {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  padding-bottom: 0;
}
.profiles-content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
}
.tech,
.socials {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 6px;
  /* gap: 14px; */
}
.profile-link,
.tech-link {
  font-size: 2rem;
  text-decoration: none;
}
.tech-header {
  font-size: 2rem;
}
.socials-header {
  font-size: 2rem;
}
#html-logo {
  color: #e34c26;
  background-color: #3a3a3a;
  padding: 2px;
  border-radius: 5px;
}
#css-logo {
  color: #264de4;
  background-color: #3a3a3a;
  padding: 2px;
  border-radius: 5px;
}
#js-logo {
  color: #f7d77b;
  background-color: #3a3a3a;
  padding: 2px;
  border-radius: 5px;
}
#react-logo {
  color: #61dbfb;
  background-color: #3a3a3a;
  padding: 2px;
  border-radius: 5px;
}
#python-logo {
  position: relative;
  width: 32px;
  background-color: #3a3a3a;
  padding: 2px;
  border-radius: 5px;
}
.github-logo {
  color: #6e5494;
}
.linkedin-logo {
  color: #0a66c2;
}
.fcc-logo {
  color: #3a3a3a;
}
#profiles a {
  transition: transform 0.2s ease;
}

.tech-link:hover i,
.profile-link:hover i {
  color: #5bc0eb;
  transition: color 0.3s ease-in-out;
  animation: shake 0.4s; /* Trigger shake animation on hover */
}
#python-icon {
  position: absolute;
  top: 0;
  left: 0;
  transition: opacity 0.3s ease;
  opacity: 0;
}
.python-svg {
  position: absolute;
  top: 1vh;
  left: 0;
  transition: opacity 0.3s ease;
  width: 2.1rem;
  height: 2.1rem;
  object-fit: contain;
  opacity: 1;
}
#python-logo:hover #python-icon {
  opacity: 1;
}
#python-logo:hover .python-svg {
  opacity: 0;
}

.statement {
  margin: 0 auto;
  width: 80%;
}
.statement p {
  text-align: center;
  font-size: 2rem;
}
.profile-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.profile-caption {
  display: none; /* Initially hidden */
  position: absolute;
  top: calc(100% + 5px); /* Position below the link */
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.profile-link:hover + .profile-caption {
  display: block;
  animation: slideIn 1s forwards; /* Apply animation */
}
/* footer  */
footer {
  position: relative;
  height: 6vh;
  width: 100vw;
  padding: 0 6px;
}

/* animations  */
@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-2px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(2px, 1px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-2px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(2px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}
@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  } /* Start off-screen to the left */
  100% {
    opacity: 1;
    transform: translateX(0);
  } /* Move to original position with full opacity */
}

/* media queries  */

@media screen and (max-width: 768px) {
  #projects {
    min-height: 100vh;
    height: auto;
  }
  .card {
    width: 40%;
  }
  .card-caption {
    font-size: 1rem;
  }
  #navbar a:hover .nav-word {
    font-size: 1.5rem;
  }
  .statement p {
    font-size: 1.5rem;
  }
  .tech-header {
    font-size: 1.75rem;
  }
  .socials-header {
    font-size: 1.25rem;
  }
}

@media screen and (max-width: 480px) {
  #projects {
    min-height: 100vh;
    height: auto;
  }
  .card {
    width: 80%;
  }
  #navbar i {
    display: block !important;
    padding: 0 4px;
  }
  .nav-word {
    display: none;
    background-color: none;
  }
  #navbar a:hover .nav-icon {
    background-color: #252934;
    border-radius: 10%;
    padding: 2px;
  }
  .statement p {
    font-size: 1.5rem;
  }
  .tech-header {
    font-size: 1.75rem;
  }
  .socials-header {
    font-size: 1.25rem;
  }
}

.cursor {
  position: absolute;
  width: 20px;
  height: 20px;
  background: radial-gradient(circle, #5bc0eb, #a3d9a5);
  border-radius: 50%;
  pointer-events: none;
  transform: translate(-50%, -50%);
  animation: pulse 1s infinite ease-in-out;
}

@keyframes pulse {
  0%,
  100% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
  }
  50% {
    transform: translate(-50%, -50%) scale(1.5);
    opacity: 0.5;
  }
}
